$main-background: rgba(255, 255, 255, 0);
$content-background: rgba(156, 154, 154, 0);

$border-color: #000;

$space-xxs: 0.25rem;
$space-xs: 0.5rem;
$space-sm: 0.75rem;
$space-md: 1rem;
$space-lg: 1.5rem;

$bg-dark: #212121;
$bg-secondary: #303030;
$bg-tertiary: #414141;
$text-primary: #fff;
$text-secondary: #1e1e1e;
$text-tertiary: #afafaf;
$text-dark: 212121;

$shadow-card: 0 4px 10px rgba(8, 8, 8, 0.12);
$margin-title-comp: 16px;
$padding-p-16: 16px;
$padding-p-24: 24px;
$height-header: 64px;
