@use '../../styles/variables' as *;

:host {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  place-content: center;
  width: 100%;
  padding: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;

  border-radius: 0.5rem;
  box-shadow: var(--shadow-content);
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 24px;
    width: 100%;
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;

    padding: 14px;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 16px;
  }

  &__list {
    list-style: none;
    margin: 0 0 1rem 0;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      gap: 0.6rem;
      margin: 0.5rem 0;
      font-size: 1rem;
      line-height: 1.3;
      img {
        filter: var(--theme-invert);
      }
      i {
        font-size: 1.15rem;
        color: var(--title-color);
        transition: color 0.2s;
        width: 1.15rem;
        text-align: center;
      }

      a {
        color: var(--primary-color);
        text-decoration: none;
        transition: color 0.2s;
        word-break: break-word;
        font-size: 1.1rem;
      }

      a:hover,
      a:focus {
        text-decoration: none;
        color: var(--title-color);
      }

      &:hover i,
      &:focus-within i {
        color: var(--title-color);
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    gap: 0.5rem;
    margin-top: 1rem;
    padding: 12px;

    border-radius: 8px;
    box-sizing: border-box;
  }

  &__actions h5 {
    margin: 0 0 6px 0;
    font-weight: 600;
    font-size: 0.95rem;
  }
}
