<section class="contact" id="contact">
  <h4 id="contact-title" class="contact__title">{{ 'CONTACT.TITLE' | translate }}</h4>

  <div class="contact__inner">
    <!-- INFO -->
    <div class="contact__info" aria-labelledby="contact-title">
      <ul class="contact__list">
        <li>
          <i class="fas fa-envelope" aria-hidden="true"></i>
          <a href="mailto:samuele.deriu.dev@gmail.com?subject=Contatto%20dal%20sito%20portfolio">
            {{ 'CONTACT.EMAIL' | translate }}
          </a>
        </li>

        <li>
          <i class="fab fa-linkedin" aria-hidden="true"></i>
          <a
            href="https://www.linkedin.com/in/samuelederiu"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ 'CONTACT.LINKEDIN' | translate }}
          </a>
        </li>

        <li>
          <i class="fab fa-github" aria-hidden="true"></i>
          <a href="https://github.com/SamExperience" target="_blank" rel="noopener noreferrer">
            {{ 'CONTACT.GITHUB' | translate }}
          </a>
        </li>
      </ul>

      <div class="contact__actions" aria-labelledby="contact-title">
        <h5>{{ 'CONTACT.DOWNLOAD_CV' | translate }}</h5>

        <div class="contact__actions-btt">
          <a
            href="assets/CV Samuele Deriu_eng.pdf"
            download
            class="cv-btn"
            aria-label="{{ 'CONTACT.CV_EN_LABEL' | translate }}"
          >
            <img src="../../../assets/images/icons/icon_flag_uk.webp" alt="UK flag" />
            <span>{{ 'CONTACT.CV_EN' | translate }}</span>
          </a>

          <a
            href="assets/CV Samuele Deriu_fr.pdf"
            download
            class="cv-btn"
            aria-label="{{ 'CONTACT.CV_FR_LABEL' | translate }}"
          >
            <img src="../../../assets/images/icons/icon_flag_france.webp" alt="France flag" />
            <span>{{ 'CONTACT.CV_FR' | translate }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
