<section class="contact" id="contact">
  <h4 id="contact-title" class="contact__title">{{ 'CONTACT.TITLE' | translate }}</h4>

  <div class="contact__inner">
    <!-- INFO -->
    <div class="contact__info" aria-labelledby="contact-title">
      <ul class="contact__list">
        <!-- EMAIL -->
        <li>
          <picture>
            <source srcset="assets/images/SVG/optimized/email-icon.avif" type="image/avif" />
            <source srcset="assets/images/SVG/optimized/email-icon.webp" type="image/webp" />
            <img
              src="assets/images/SVG/optimized/email-icon.webp"
              alt="Email icon"
              width="24"
              height="24"
              loading="lazy"
              decoding="async"
            />
          </picture>
          <a href="mailto:samuele.deriu.dev@gmail.com?subject=Contatto%20dal%20sito%20portfolio">
            {{ 'CONTACT.EMAIL' | translate }}
          </a>
        </li>

        <!-- LINKEDIN -->
        <li>
          <picture>
            <source srcset="assets/images/SVG/optimized/linkedin-icon.avif" type="image/avif" />
            <source srcset="assets/images/SVG/optimized/linkedin-icon.webp" type="image/webp" />
            <img
              src="assets/images/SVG/optimized/linkedin-icon.webp"
              alt="LinkedIn icon"
              width="24"
              height="24"
              loading="lazy"
              decoding="async"
            />
          </picture>
          <a
            href="https://www.linkedin.com/in/samuelederiu"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ 'CONTACT.LINKEDIN' | translate }}
          </a>
        </li>

        <!-- GITHUB -->
        <li>
          <picture>
            <source srcset="assets/images/SVG/optimized/github-icon.avif" type="image/avif" />
            <source srcset="assets/images/SVG/optimized/github-icon.webp" type="image/webp" />
            <img
              src="assets/images/SVG/optimized/github-icon.webp"
              alt="GitHub icon"
              width="24"
              height="24"
              loading="lazy"
              decoding="async"
            />
          </picture>
          <a href="https://github.com/SamExperience" target="_blank" rel="noopener noreferrer">
            {{ 'CONTACT.GITHUB' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
