.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;

  font-size: 0.9rem;
  color: #555;

  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: clamp(0.5rem, 5vw, 2rem);
    span {
      white-space: nowrap;
      flex-shrink: 1;
    }
  }
}
