<!-- footer wrapper -->
<footer class="footer" role="contentinfo" aria-label="Site footer">
  <!-- inner container -->
  <div class="footer-content">
    <!-- footer text: name -->
    <span class="footer-item">
      © <span id="footer-year">2025</span> {{ 'FOOTER.NAME' | translate }}
    </span>

    <!-- vertical separator -->
    <span class="footer-sep" aria-hidden="true"></span>

    <!-- footer text: swiss made -->
    <span class="footer-item">
      {{ 'FOOTER.SWISS_MADE' | translate }}
      <span aria-hidden="true"></span>
    </span>

    <!-- vertical separator -->
    <span class="footer-sep" aria-hidden="true"></span>

    <!-- footer text: developed with -->
    <span class="footer-item"> {{ 'FOOTER.DEVELOPED_WITH' | translate }} Angular 20 </span>
  </div>
</footer>
