<div class="header-component">
  <!-- LOGO -->
  <div class="header-component__logo">
    <a href="">
      <img src="../../../assets/images/logo/Logo_page.webp" alt="logo site" />
    </a>
  </div>

  <!-- MENU -->
  <div class="header-component__cont">
    <nav class="header-component__nav">
      <ul>
        <li>
          <a href="#projects-section">{{ 'HEADER.NAV.PROJECTS' | translate }}</a>
        </li>
        <li>
          <a href="#about-section">{{ 'HEADER.NAV.ABOUT' | translate }}</a>
        </li>
        <li>
          <a href="#contact-section">{{ 'HEADER.NAV.CONTACT' | translate }}</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- TOOLS -->
  <div class="header-component__tools">
    <app-language-selector [languages]="['en', 'it', 'fr']"></app-language-selector>
    <app-toggle-theme></app-toggle-theme>
    <app-menu-icon (click)="toggleMenu()"></app-menu-icon>
  </div>
</div>

<app-menu-mobile [open]="isMenuOpen" (closeRequest)="handleCloseMenu()"></app-menu-mobile>
