@use '../../styles/variables' as *;

:host {
  position: fixed;
  display: block;
  background: var(--bg-header);
  height: var(--height-header);
  width: 100%;
  z-index: 1000;
}

.header-component {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  box-shadow: var(--box-shadow-header);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  &__logo {
    position: relative;
    display: flex;
    align-items: center;
    width: 72px;
    height: 72px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__cont {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;

    height: 100%;
  }
  &__nav {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;

    height: 100%;

    ul {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      gap: 2rem;
      padding: 0 1rem;
      height: 100%;

      align-items: end;
      justify-content: end;
    }

    li {
      position: relative;
      display: flex;
      align-items: end;
      justify-content: center;
      font-size: 1rem;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        /*         background: linear-gradient(90deg, #0067cd, #00d4ff); // Gradiente orizzontale
 */
        background: linear-gradient(90deg, transparent, var(--title-color));
        border-radius: 2px;
        transition: width 0.4s cubic-bezier(0.2, 0.9, 0.2, 1);
      }

      &:hover::before {
        width: 100%; // Cresce fino al 100% (da sinistra a destra)
        box-shadow: 0 0 12px rgba(0, 103, 205, 0.5);
      }
    }

    a {
      text-decoration: none;
      color: var(--title-color);
      font-weight: bold;
      transition: all 0.3s ease;
      padding: 0.5rem 0.75rem;
      border-radius: 3px;

      &:hover {
        color: #4997e6;
        /* background: rgba(0, 103, 205, 0.08); */
      }
    }
  }

  &__tools {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1rem;

    align-items: center;
    justify-content: center;

    padding-right: 1rem;
  }
  @media screen and (max-width: 720px) {
    .header-component__cont,
    .header-component__nav {
      display: none;
      margin-right: 0;
    }
  } /* 
  @media screen and (min-width: 520px) {
    .header-component__cont {
      display: flex;
    }
  } */

  &__tools {
    position: relative;
    display: flex;
  }
}
