<div class="header-component">
  <!-- LOGO -->
  <div class="header-component__logo">
    <a href="">
      <img src="../../../assets/images/logo/Logo_page.png" alt="logo site" />
    </a>
  </div>
  <!-- MENU -->
  <div class="header-component__cont">
    <nav class="header-component__nav">
      <ul>
        <li><a href="#projects-section">Project</a></li>
        <li><a href="#about-section">About me</a></li>
        <li><a href="#contact-section">Contact</a></li>
      </ul>
    </nav>
  </div>

  <!-- TOOLS -->
  <div class="header-component__tools">
    <label class="switch">
      <input
        type="checkbox"
        (click)="onToggle()"
        id="theme-toggle"
        [attr.aria-pressed]="themeService.isDark()"
        title="Toggle theme"
      />
      <span class="slider round" aria-hidden="true"></span>
    </label>

    <app-menu-icon (click)="toggleMenu()"></app-menu-icon>
  </div>
</div>

<app-menu-mobile [open]="isMenuOpen" (closeRequest)="handleCloseMenu()"></app-menu-mobile>
