@use '../../styles/variables' as *;

:host {
  position: fixed;
  display: block;
  background: var(--bg-header);
  height: var(--height-header);
  width: 100%;
  z-index: 1000;
}

.header-component {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow-header);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  &__logo {
    position: relative;
    display: flex;
    align-items: center;
    width: 72px;
    height: 72px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__cont {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    ul {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 2rem;
      padding: 0 1rem;
      margin: 0;
      height: 100%;
      align-items: end;
      justify-content: end;
      list-style: none;
    }

    li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;

      span {
        width: 25px;
        transition: color 0.3s ease;
      }
    }

    a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      text-decoration: none;
      color: var(--title-color);
      font-weight: bold;
      padding: 0.5rem 0.75rem;
      border-radius: 3px;
      cursor: pointer;

      transition: color 0.3s ease, opacity 0.3s ease;
      opacity: 0.6; // no active link more dark

      // animated bord
      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background: linear-gradient(90deg, transparent, var(--title-color));
        border-radius: 2px;
        transition: width 0.4s cubic-bezier(0.2, 0.9, 0.2, 1);
      }

      // HOVER
      &:hover {
        opacity: 1;

        &::before {
          width: 100%;
          box-shadow: 0 0 12px rgba(0, 103, 205, 0.5);
        }
      }

      // ACTIVE (when you click)
      &:active {
        transform: scale(0.95);
      }

      // LINK active (class .active)
      &.active {
        opacity: 1;

        &::before {
          width: 100%; // Bord always visible
          height: 2px;
          background: linear-gradient(90deg, transparent, var(--title-color));
          border-radius: 2px;
          box-shadow: 0 0 12px rgb(0, 128, 255);
          transition: none; // no transition
        }
      }
    }
  }

  &__tools {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
  }

  @media screen and (max-width: 720px) {
    .header-component__cont,
    .header-component__nav {
      display: none;
      margin-right: 0;
    }
  }
}
