<!-- 
header(titolo,descrizione,tech bullets)
section(descrizione progetto)
section(obbiettivi progetto)
section(tecnologie utilizzate[frontend,interazioni,design])
section galleria(3 o piu immagini)
sectione(risultato: text)
section(cosa ho imparato:lista)
footer(© 2025 SamExperience — webSite Richie Who | Codice su GitHub)
-->
<div class="project">
  <div>
    <h2>Titolo</h2>
    <p>
      descrizione: Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, doloremque
      tenetur aut adipisci aperiam ad, molestiae quod assumenda numquam quaerat eius harum
      architecto! Nobis ipsam deleniti qui illum dolores necessitatibus.
    </p>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JQUERY</li>
      <li>Responsive</li>
    </ul>
  </div>
</div>
