.lang-dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  border: 0px;
  .lang-toggle {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 8px;
    border-radius: 8px;
    background: var(--bg-content);
    color: var(--primary-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 0.875rem;
    transition: background 0.2s, transform 0.2s;
    border: 1px solid rgba(49, 49, 49, 0.171);

    &:hover {
      background: var(--bg-button-hover);
    }

    .flag {
      display: flex;
      align-items: center;
      width: 20px;
      justify-content: center;
      padding: 0px;
      img {
        width: 20px;
        height: 20px;
        object-fit: cover;
      }

      display: block;
    }

    .code {
      font-size: 0.8rem;
      font-weight: 600;
      text-transform: uppercase;
      color: var(--primary-color);
    }

    .arrow {
      font-size: 0.7rem;
      display: inline-block;
      transition: transform 0.2s ease;
    }
  }

  &.open .arrow {
    transform: rotate(180deg);
  }

  .lang-menu {
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    min-width: 120px;
    background: var(--bg-content);

    border-radius: 8px;
    /*  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); */
    padding: 4px 0;
    list-style: none;
    margin: 0;
    z-index: 50;

    .lang-item {
      display: flex;
      align-items: center;
      gap: 8px;
      width: 100%;
      padding: 6px 12px;
      background: transparent;
      border: none;
      text-align: left;
      cursor: pointer;
      font-size: 0.875rem;
      color: var(--primary-color);
      transition: background 0.15s;

      &:hover {
        background: #f1f3f5;
      }

      .flag svg {
        width: 20px;
        height: 14px;
      }

      .label {
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
}
