<div class="lang-dropdown" [class.open]="langOpen">
  <button
    class="lang-toggle"
    (click)="toggle($event)"
    aria-haspopup="listbox"
    [attr.aria-expanded]="langOpen"
    aria-label="Language selector"
  >
    <span class="flag"
      ><img [src]="'assets/images/SVG/' + currentLang + '.svg'" [alt]="getLangLabel(currentLang)"
    /></span>
    <!--  <span class="code">{{ currentLang.toUpperCase() }}</span> -->

    <span class="arrow" aria-hidden="true">▾</span>
  </button>

  <ul
    class="lang-menu"
    *ngIf="langOpen"
    role="listbox"
    [attr.aria-activedescendant]="'lang-' + currentLang"
  >
    <li
      *ngFor="let lang of languages"
      role="option"
      [attr.id]="'lang-' + lang"
      [attr.aria-selected]="lang === currentLang"
    >
      <button class="lang-item" (click)="changeLanguage(lang, $event)">
        <span class="flag"
          ><img
            [src]="'assets/images/SVG/' + lang + '.svg'"
            [alt]="getLangLabel(lang)"
            width="20"
            height="14"
        /></span>
        <span class="label">{{ lang.toUpperCase() }}</span>
      </button>
    </li>
  </ul>
</div>
