<div class="content">
  <!-- HERO -->
  <app-hero id="hero-section"></app-hero>

  <!-- PROJECTS -->
  <section id="projects-section">
    <h2>{{ 'PROJECTS.TITLE' | translate }}</h2>

    <app-projects-list *ngIf="projects$; else load" [projects$]="projects$"></app-projects-list>

    <ng-template #load>
      <p>{{ 'PROJECTS.LOADING' | translate }}</p>
    </ng-template>
  </section>

  <!-- ABOUT ME - CONTACT & CV -->
  <section id="about-section" class="content__about">
    <app-about></app-about>
    <app-contact id="contact-section"></app-contact>
  </section>
</div>
<!-- MENU MOBILE FIX-BOTTOM -->
<app-nav-menu-mobile></app-nav-menu-mobile>
