@use '../../styles/variables' as *;

:host {
  position: relative;
  display: block;
}

.content {
  background: var(--bg-background);
  display: flex;
  flex-direction: column;

  width: 100%;

  /* for list title */
  h3 {
    font-size: 1.8rem;
    margin: 16px;
  }

  &__about {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    align-content: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    padding: 1.6rem 1rem;
    padding-top: var(--height-header);
  }
}
section {
  padding-top: var(--height-header);
}

.nav-arrows {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 40px;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  svg {
    fill: black;
    transition: transform 0.3s ease;
  }
}

#nav-up svg {
  transform: rotate(-90deg);
}
#nav-down svg {
  transform: rotate(90deg);
}

#nav-up svg,
#nav-down svg {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: var(--bg-arrow);

  transition: all 0.1s linear;

  &:hover {
    background: var(--bg-arrow-hover);
  }
}
