<div class="content">
  <!-- HERO -->
  <app-hero> </app-hero>

  <!-- PROJECTS -->
  <h3>Projectss</h3>
  <!--  <app-projects-list>
    <div>
        <app-project-card></app-project-card>
    </div>
   </app-projects-list> -->
  <section class="content-projects">
    <div>
      <img src="#" alt="img" />
      <h4>Title project</h4>
      <ul>
        <li>Fullstack</li>
        <li>React</li>
        <li>Node</li>
      </ul>
      <p>Description ...</p>
      <button>Demo</button>
      <button>Go to Repository</button>
    </div>
    <div>
      <img src="#" alt="img" />
      <h4>Title project</h4>
      <ul>
        <li>front end</li>
        <li>Angular</li>
      </ul>
      <p>Description ...</p>
      <button>Demo</button>
      <button>Go to Repository</button>
    </div>
    <div>
      <img src="#" alt="img" />
      <h4>Title project</h4>
      <ul>
        <li>backend</li>
        <li>Node</li>
        <li>Express</li>
      </ul>
      <p>Description ...</p>
      <button>Demo</button>
      <button>Go to Repository</button>
    </div>
  </section>
  <!-- ABOUT ME - CONTACT & CV -->
  <section>
    <!-- ABOUT -->
    <app-about></app-about>
    <!-- CONTACT & DOWNLOAD CV -->
  </section>
</div>
