<div class="content">
  <!-- HERO -->
  <app-hero id="hero-section"></app-hero>

  <!-- PROJECTS -->
  <section id="projects-section">
    <h3>Projects</h3>
    <app-projects-list></app-projects-list>
  </section>

  <!-- ABOUT ME - CONTACT & CV -->
  <section id="about-section" class="content__about">
    <app-about></app-about> <app-contact id="contact-section"></app-contact>
  </section>
</div>

<!-- ARROW-DISPLAY -->
<div class="nav-arrows" [class.visible]="showArrows">
  <a href="#hero-section">
    <span id="nav-up"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#e3e3e3"
      >
        <path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z" />
      </svg>
    </span>
  </a>

  <a href="#contact-section"
    ><span id="nav-down">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#e3e3e3"
      >
        <path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z" />
      </svg>
    </span>
  </a>
</div>
