.menu-container {
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  color: var(--title-color);
  background: var(--bg-menu-mobile);
  z-index: 1000;
  padding: 1px 0 0 0;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  nav {
    margin: 0;
    padding: 0;
  }
}

.menu-wraper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  box-shadow: var(--box-shadow-menu-mobile-top);
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    position: relative;
    width: auto;
    max-width: 100px;
    flex: 1;
    height: 60px;
  }

  &__item-link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 0.5rem;
    cursor: pointer;
    transition: color 0.3s ease, opacity 0.3s ease;
    color: inherit;
    text-decoration: none;
    opacity: 0.6; // no active Link more dark

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 2px;
      background: linear-gradient(90deg, transparent, var(--title-color));
      border-radius: 2px;
      transition: width 0.4s cubic-bezier(0.2, 0.9, 0.2, 1);
    }

    // HOVER - change color SVG & testo
    &:hover {
      color: var(--title-hover);
      opacity: 1;

      &::before {
        width: 100%;
        box-shadow: 0 0 12px rgba(0, 103, 205, 0.5);
      }
    }

    // ACTIVE (on click) - pression effect
    &:active {
      color: var(--title-hover);
      transform: scale(0.95);
    }

    // LINK active (class .active)
    &.active {
      color: var(--title-hover);
      opacity: 1;
      &::before {
        width: 100%; // Bordo always visible
        height: 2px;
        background: linear-gradient(90deg, transparent, var(--title-color));
        border-radius: 2px;
        box-shadow: 0 0 12px rgb(0, 128, 255);
        transition: none; // no transition
      }
    }
  }

  &__item svg {
    height: 20px;
    width: 30px;
    transition: color 0.3s ease;
  }

  &__item-label {
    font-size: 12px;
    transition: color 0.3s ease;
  }
}

@media screen and (min-width: 440px) and (max-width: 780px) {
  .menu-wraper {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 721px) {
  .menu-container {
    display: none;
  }
}
