*,
*::before,
*::after {
  box-sizing: border-box;
}
.app-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  border: 1px solid black;
}
