.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
  margin-right: 1rem;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-toggle-white-theme);
    transition: background-color 0.3s;

    &::before {
      position: absolute;
      content: '';
      height: 14px; /* prima 26px */
      width: 14px; /* prima 26px */
      left: 3px; /* prima 4px */
      bottom: 3px; /* prima 4px */
      background-color: white;
      transition: transform 0.3s;
    }

    &.round {
      border-radius: 20px;

      &::before {
        border-radius: 50%;
      }
    }
  }

  input:checked + .slider {
    background-color: var(--background-toggle-dark-theme);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--background-toggle-dark-theme);
  }

  input:checked + .slider::before {
    transform: translateX(14px);
  }
}
