<div class="card" aria-label="go to watch this project">
  <!-- IMG CARD -->
  <div class="card__img">
    <img src="assets/images/logo/project-icon.png" alt="Icona progetto X" />
  </div>

  <!-- cont card -->
  <div class="card__cont">
    <h4>Title project-Cos'è Stripe: La Rivoluzione dei Pagamenti Online per Sviluppatori</h4>
    <ul class="card__tools">
      <li>Fullstack</li>
      <li>React</li>
      <li>Node</li>
    </ul>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, ab? Id porro nesciunt ab
      asperiores magni dolores dolorum quasi assumenda, corrupti amet ad quibusdam aperiam quas
      mollitia veniam incidunt non....
    </p>
    <div class="card__link">
      <span>
        <img src="../../../assets/images/profile/SamueleDeriu.webp" alt="profil image" />
        <p><strong>Samuele Deriu</strong><br />Developer</p>
      </span>
      <span><a routerLink="project">View project →</a></span>
    </div>

    <div class="card__actions">
      <button type="button" class="card__btt">↗️Demo</button>
      <button type="button" class="card__btt">🔗Repo</button>
    </div>
  </div>
</div>
