<div class="card" [attr.aria-label]="'Project card: ' + project?.title">
  <!-- IMG CARD -->
  <div class="card__img">
    <img
      [src]="project?.imgURL?.[0]?.url ?? 'assets/images/default-img.png'"
      [alt]="'Project image for ' + project?.title"
    />
  </div>

  <!-- CONT CARD -->
  <div class="card__cont">
    <h4>{{ project?.title }}</h4>

    <!-- TECH TAG -->
    <ul class="card__tools">
      <li *ngFor="let t of project?.projectTags">{{ t }}</li>
    </ul>

    <p>{{ project?.shortDescription }}</p>

    <!-- AUTHOR AND LINK -->
    <div class="card__link">
      <span>
        <img
          [src]="project?.personalData?.urlImg ?? 'assets/images/default-img.png'"
          [alt]="'Profile image of ' + project?.personalData?.name"
        />
        <p>
          <strong>{{ project?.personalData?.name }}</strong
          ><br />
          {{ project?.personalData?.role }}
        </p>
      </span>

      <span>
        <a [routerLink]="['/project', project?.id]" routerLinkActive="router-link-active"
          >View project →</a
        >
      </span>
    </div>

    <!-- ACTIONS -->
    <div class="card__actions">
      <a href="https://github.com/SamExperience/Portfolio" target="_blank" rel="noopener noreferrer"
        ><span class="text">Demo↗️</span></a
      >
      <a href="https://github.com/SamExperience/Portfolio" target="_blank" rel="noopener noreferrer"
        ><span class="text">Repo🔗</span></a
      >
    </div>
  </div>
</div>
