<div *ngIf="open" class="container">
  <div class="phone-frame">
    <nav class="menu-mobile-panel" aria-label="{{ 'MENU.MENU' | translate }}">
      <!-- MENU-HEADER -->
      <div class="menu-header">
        <div class="logo-menu">
          <img src="assets/images/logo/Logo_page.webp" alt="logo site" />
        </div>

        <div class="tools">
          <button
            class="menu-close"
            (click)="onCloseClick()"
            aria-label="{{ 'MENU.CLOSE' | translate }}"
          >
            ×
          </button>
        </div>
      </div>

      <ul class="menu-list" role="navigation">
        <li>
          <a
            href="#projects-section"
            class="menu-link"
            (click)="onLinkClick()"
            aria-label="{{ 'MENU.PROJECTS' | translate }}"
          >
            {{ 'MENU.PROJECTS' | translate }}
          </a>
        </li>
        <li>
          <a
            href="#about-section"
            class="menu-link"
            (click)="onLinkClick()"
            aria-label="{{ 'MENU.ABOUT' | translate }}"
          >
            {{ 'MENU.ABOUT' | translate }}
          </a>
        </li>
        <li>
          <a
            href="#contact-section"
            class="menu-link"
            (click)="onLinkClick()"
            aria-label="{{ 'MENU.CONTACT' | translate }}"
          >
            {{ 'MENU.CONTACT' | translate }}
          </a>
        </li>
      </ul>

      <!-- MENU-FOOTER -->
      <div class="menu-footer">
        <!-- GitHub -->
        <a href="https://github.com/SamExperience" class="social-link" aria-label="GitHub">
          <picture>
            <source srcset="assets/images/SVG/optimized/github-icon.avif" type="image/avif" />
            <source srcset="assets/images/SVG/optimized/github-icon.webp" type="image/webp" />
            <img
              src="assets/images/SVG/optimized/github-icon.svg"
              alt="GitHub icon"
              width="32"
              height="32"
              loading="lazy"
              decoding="async"
            />
          </picture>
        </a>

        <!-- LinkedIn -->
        <a
          href="https://www.linkedin.com/in/samuelederiu"
          class="social-link"
          aria-label="LinkedIn"
        >
          <picture>
            <source srcset="assets/images/SVG/optimized/linkedin-icon.avif" type="image/avif" />
            <source srcset="assets/images/SVG/optimized/linkedin-icon.webp" type="image/webp" />
            <img
              src="assets/images/SVG/optimized/linkedin-icon.svg"
              alt="LinkedIn icon"
              width="32"
              height="32"
              loading="lazy"
              decoding="async"
            />
          </picture>
        </a>
      </div>
    </nav>
  </div>
</div>
