@use 'app/styles/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* ====breack-points for screen layout=== */
  --small: 576px;
  --medium: 768px;
  --large: 992px;
  --extra-large: 1200px;
}
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  background: var(--bg-background);
}
body {
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow-x: hidden !important;
  font-family: var(--font-secondary);
  color: var(--primary-color);
}
h2,
h3,
h4,
h5 {
  color: var(--title-color);
}

app-root {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
p,
span,
div {
  -webkit-user-select: none;
  user-select: none;
  /*  pointer-events: none; */ // blockclick
}
* {
  -webkit-tap-highlight-color: transparent;
}
